.main {
    background-image: url(/skatepark-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: absolute
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 150px;
}
.content {
    padding: 10px 40px;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(0 0 0 / .85);

    @media (max-width:800px) {
        width: 95%;
    }
}
.icon {
    background-color: white;
    border-radius: 50%;
}