.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title {
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.subtitle {
    font-weight: 600;
    font-size: 1.5rem;
}
.subtitle::first-letter {
    text-transform: capitalize;
}
.slang {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}
.content {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 15px;

    font-style: italic;
}
.carouselWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}